@use '_variables';

.h-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    

    &__item {
        list-style: none;
    }

    &__link {        
        font-weight: 600;
        line-height: 22px;        
    }
}

@media screen and (max-width: 768px) {
    .h-list {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 90px;
        right: 0;
        bottom: 0;
        background-color: variables.$background;
        width: 100%;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility .3s, transform .6s;
        justify-content: flex-start;
        transform: translateX(100%);

        &_phone {
            visibility: visible;
            opacity: 1;
            transform: translateX(0)
        }

        &__item {            
            padding:  20px 0;
            width: 100%;
            text-align: center;
        }

        &__link {
            font-weight: 600;
            border-bottom: 1px solid #1d1d1d;                     
        }
    }
}